
.container{
    margin: 100px 100px;
}
.form-container{
    background: #fff;
    width: 320px;
    height: 400px;
    position: relative;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 20px 0px;
    text-align: center;
    overflow: hidden;
}
.btn{
    background-color: #ff523b;
    color: #fff;
    padding: 5px;
    outline: none;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    width: 86%;
    margin: 10px 0;

}
.btn:hover{
    background-color: darksalmon;
}
.form-container span{
    font-weight: bold;
    padding: 0 5px;
    color:#555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}   
.form-button{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    bottom: 250px;
    transition: transform 1s;
    
    
}
form input{
    border: 1px solid #ccc;
    width: 80%;
    height: 30px;
    margin: 10px 0px;
    padding: 0px 5px;

}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
   
}
#ActiveForm{
    width: 90px;
    height: 3px;
    margin-top: 8px;
    margin-right: 125px;
    transform: translateX(65px);
    background: #ff523b;
    border: none;
    transition: transform 1s;
}
form a{
    font-size: 12px;
    text-decoration: none;
    color: #555;
}

